---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import DemoBand from '../components/DemoBand.astro';
import DeepFeatures from '../components/DeepFeatures.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <LogoStrip />
    <FeatureGrid />
    <DemoBand />
    <DeepFeatures />
    <Pricing />
  </main>
  <Footer />
</Layout>
